<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="static/style.css">>
    <link href="https://fonts.cdnfonts.com/css/lemonmilk" rel="stylesheet">
                

</head>
<body>
    <div class="name">
        <h1>Live Long and Prosper</h1>
    </div>
    <div class="gif-container">
        <img src="https://media0.giphy.com/media/65MvYUChLe6LTnKY48/giphy.gif?cid=6c09b9527lxzyn9yfqg5qs6vsev7bxf4oks6g76ufns70mfz&ep=v1_stickers_related&rid=giphy.gif&ct=s">
    </div>
    <div class="queryBox">
        <input type="text" id="Name" name="Name" placeholder="Enter Query">
    </div>
    <!-- <div class="linksBox">
        <input type="text" id="Name" name="Name" placeholder="Enter Query">
    </div> -->

    <div class="footer">
        <p>CS 121 - Spring 2023<br>
        Kenny Yu | Daniel Song | Evan Leong | Marcus Linture</p>
    </div>

</body>
</html>
